<main>

  <h1>Is it shorts weather today?</h1>

  <section id="outcome">

    <h2>{{weather.statement.answer}}</h2>

    <h2>{{weather.statement.description}}</h2>

  </section>

  <button type="button" {{action 'getUserLocation'}}>Find out</button>

</main>
